@media screen {

.portfolio-btn {
    width: 100%;
    display: flex;
    border-radius: 4px;
    padding: 15px 30px;
    align-items: center;
    justify-content: center;
    background-color: var(--soft-red-tone);
 
}

.portfolio-btn a {
    text-decoration: none;
    text-transform: uppercase;
    color: var(--bg-color-light);
    font-family: var(--header-font);
}
}

@media only screen and (min-width:49.0em) {

.portfolio-btn {
    width: auto;
    padding: 10px 30px;
 
}

.portfolio-btn a {
    font-size: 1rem;
}

}
