* {

    box-sizing: border-box;
    margin: 0;

    /* color */
    --bg-color-light:#fdfeff;
    --bg-color-dark:#1f1f1f;
    --soft-black-tone:rgba(0, 0, 0, 0.3);
    --soft-red-tone: rgb(250, 30, 63);
    

}

body {
    background-color: var(--bg-color-light);
    color: var(--bg-color-dark);
}


.app-c {
    height: 100vh;
    display: flex;
}

.app-content {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}