@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;700&family=Roboto:wght@100;300;400&display=swap');

@media screen {

    
* {

    box-sizing: border-box;
    margin: 0;

    /* color */
    --bg-color-light:#FDFEFF;   
    --bg-color-dark:#131313;
    --soft-black-tone:#4e4e50;
    --soft-red-tone: #e00d2d;
    --empshasis-color:#e76462;
    
    /* font */
    --header-font:'Open Sans', sans-serif;
    --body-font:'Roboto', sans-serif;

}

body {
    
    background-color: var(--bg-color-light);
    font-family: var(--body-font);
    color: var(--soft-black-tone);
    font-weight: 300;
}


h1 ,h2 , h3 , strong , label {
    text-transform: capitalize;

}

 h1, h2 {
    font-family: var(--header-font);
    font-weight: 600;
}


 h3 , strong , label {
    font-weight: 300;

}

strong {
    color: var(--empshasis-color);
}


.app-c {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    position: fixed;
    overflow-x: auto;
    overflow-y: hidden;
}

.app-content {

    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    
}

}

/* ipad/tablet */
@media only screen and (min-width:48.0em){

}


@media only screen and (min-width:49.0em) {
}

/* ipad pro screens & laptop */
@media only screen and (min-width:49.0em) and (max-width:64em) {

}

/* large screens : Desktop and 4k screens */

@media only screen and (min-width:64.063em) and (max-width:90.0em) {
    

}


/* 5k screens and above */
@media only screen and (min-width:91.0em) {
    
}