.nav-container {

 display:flex;
 border:2px solid yellow;
 height:30%;


}

.nav {
    height: 100%;  
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

}

.nav-icon {
     
    height:30px ;
    width: 30px;
}


.content {
    height:97vh;
    width:100vw;
}